.quoteText{
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    writing-mode:vertical-rl;
    max-height: 534px;
    line-height: normal;
}
.author{
    text-align: end;
    margin-right: 24px;
}

/* ===================TABLET====================== */
@media screen and (max-width: 940px) {
  .quoteText{
    max-height: 500px;
  }
  .author{
    margin-right: 0;
  }
}

/* ===================MOBILE=================== */
@media screen and (max-width: 767px) {
  .quoteText{
    font-size: 16px;
    max-width: 250px;
    line-height: 20px;
  }
  .author{
    margin-right: 0;
  }
}