.title {
  font-size: 80px;
  font-weight: 600;
  padding: 86px 46px;
  border: 10px solid #cb6de7;
  box-shadow: 3px 3px 9px 0px rgba(91, 34, 108, 0.3);
  display: inline-block;
  text-transform: uppercase;
  margin-right: 88px;
  margin-top: 71px;
  margin-bottom: 80px;
  align-self: flex-end;
  z-index: 1;
  text-align: center;
}
/* ==================SMALL DESKTOP======= */
@media screen and (max-width: 1359px) {
  .title {
    font-size: 64px;
    margin-right: 44px;
    margin-top: 80px;
    margin-bottom: 91px;
  }
  .title.short {
    padding: 86px 0;
    width: 370px;
    margin-bottom: 91px;
    font-size: 50px;
  }
}
/* ==================TABLET============= */
@media screen and (max-width: 940px) {
  .title {
    width: auto;
    height: 32px;
    display: inline-flex;
    padding: 48px 28px;
    justify-content: center;
    align-items: center;
    border: 5px solid #cb6de7;
    box-shadow: 3px 3px 9px 0px rgba(91, 34, 108, 0.3);
    color: #d9d9d9;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 60px;
    margin-right: 24px;
  }
  .title.short {
    font-size: 32px;
    padding: 16px 16px;
    width: 220px;
    height: 110px;
    border: 5px solid #cb6de7;
  }
}
/* =================MOBILE==================== */

@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 5px;
    margin-bottom: 184px;
    border: 5px solid #cb6de7;
  }
  .title.short {
    font-size: 24px;
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    height: 80px;
    padding: 25px 15px;
  }
}
